.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #040000, #1a5653, #c4ae78);
    color: white;
  }
  .navbar {
    background-color: #c4ae78;
    /* width: 100%; */
    
  }
  .page-title-container {
    padding: 40px;
    text-align: center;
    background-size: cover;
    background-size: cover;
  }
  .blurr-grapes {
    position: relative;
    text-align: center;
    color: white;
    font-size: 70pt;
  }
  
  .img-blurr {
    filter: brightness(0.5);
  }
  
  .tour-header {
    position: relative;
    text-align: center;
    color: white;
    font-size: 70pt;
  }
  
  .centered {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: solid rgb(243, 243, 250);
    border-left: solid rgb(243, 243, 250);
    border-right: solid rgb(243, 243, 250);
    border-bottom: solid rgb(243, 243, 250);
  }
  .card-header {
    background-image: linear-gradient(to right, #040000, #1a5653, #c4ae78);
  }
  .card-body {
    background: #c4ae78;
  }
  hr {
    border: 1px dotted #c4ae78;
  }
  .site-footer {
    background-color: #c4ae78;
    padding: 20px, 0;
  }
  
  .sch-button {
    background-image: linear-gradient(to right, #040000, #1a5653, #c4ae78);
  }
  
  .modal-body {
    background-color: #c4ae78;
  }
  
  .signIn {
    background-image: linear-gradient(to right, #040000, #1a5653, #c4ae78);
  }
  
  .modal-header {
    background-image: linear-gradient(to right, #040000, #1a5653, #c4ae78);
  }
  
  .row-content {
      padding: 50px 0;
      border-bottom: 1px ridge;
      min-height: 200px;
  }
  
  #iframeMap {
    text-align: center;
    /* width: 50%; */
    margin-bottom: 20px;
  }
  .card-title {
      text-align: center;
  }
  .card-text {
      text-align: center;
  }
  .contactcard {
      text-align: center;
      margin-bottom: 20px;
  }